@import "./css/design-system.css";

* {
  box-sizing: border-box;
}

::selection {
  background: var(--accent-color);
  color: #fff;
}

body {
  margin: 0;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: var(--font-mono);
}
